<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="外滩云,汇付天下,理财,在线理财,在线投资,投资理财,理财平台,理财社区,外滩云财富,小额投资,基金投资,保险理财,公募私募,资管产品" />
    <meta name="description" content="外滩云财富于2015年由汇付天下等共同投资成立，引入欧美成熟财富管理理念和金融行业专业团队，为投资者提供“资产配置+风险管理”为导向的财富管理服务，旨在成为中国最先进的线上财富管理平台。" />
    <meta name="baidu-site-verification" content="86PEnyaw5d" />

    <title>外滩云财_私募基金页面</title>
    <link rel="stylesheet" href="css/common/new_head_footer.css" type="text/css">
    <link rel="stylesheet" href="css/privatebanking/private.css" type="text/css">
</head>
<script>        
var activeMenu="menu5";
</script>
<body>
<!--头部-->
    <% include ../include/common_head %>

<!--私募二级列表-->
    <div class="pub-two">
        <div class="pub-two-cont clearafter">
            <p><a href="">全部</a></p>
            <p><a href="">私募基金</a></p>
            <p><a href="">资管产品</a></p>
            <div class="pub-line"></div>
        </div>
    </div>
    <!--二级列表结束-->
<!--banner-beign-->
    <div class="banner">
        <div class="banner_content">
            <img src="../images/bw-cus/new_sm_banner.jpg" alt="" class="banner_con">
            <!-- <div class="content">
                <h2>投资精选私募基金</h2>
                <p class="title">尊享高端医疗保险</p>
                <p class="ms">年末感恩回馈，参与高端理财投资，回馈千万保额医疗险</p>
                <a href="">了解详情</a>
            </div> -->
        </div>
    </div>
    <!--banner-end-->
    <div class="wrap">
        <!--精选私募基金-begin-->
        <div class="pro_con">
            <h4 id="jijin"><i class="puple"></i>精选私募基金<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="../images/bw-cus/bw_new_jingxuan1.jpg" alt="">
                </div>
                <div class="small_main fr">
                    <div class="pro clearafter">
                        <div class="jx_content">
                            <p class="pro_name">千象一期</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <span class="lab0">管理期货</span>
                            <div class="bod">
                                <p class="pro_sy">21.00<span>%</span></p>
                                <p class="lab2">成立以来收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                            </div>

                        </div>
                        <div class="jx_content">
                            <p class="pro_name">逸杉二期</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <span class="lab0">股票型</span>
                            <p class="pro_sy">26.77<span>%</span></p>
                            <p class="lab2">成立以来收益率</p>
                            <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--精选私募基金-end-->
        <!--产品类型-begin-->
        <div class="type_list clearafter">
            <p class="pro_typ fl">
                <i class="fl">私募类型:</i>
                <span>全部</span>
                <span>复合策略</span>
                <span>股票型</span>
                <span>管理期货</span>
                <span>组合基金</span>
                <span>债券型</span>
                <span>混合型</span>
                <span>定向增发型</span>
                <span>套利型</span>
                <span>市场中性</span>
                <span>宏观策略</span>
            </p>
            <div class="fr clearafter pad20">
                <!--<a href="" class="once fr">部分基金</a>-->
                <form action="" id="" class="fr search">
                    <input type="" name="" value="" placeholder="搜索基金代码／名称" onfocus="this.placeholder=''">
                    <span class="sear_form fr"></span>
                </form>
            </div>
        </div>
        <!--产品类型-end-->
        <!--精选券商资管-begin-->
        <div class="pro_con">
            <h4 id="ziguan"><i class="pink"></i>精选券商资管<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="../images/bw-cus/bw_new_jingxuan2.jpg" alt="">
                </div>
                <div class="small_main fr">
                    <i class="prev"></i>
                    <i class="next"></i>
                    <div class="pro_content clearafter">
                        <div class="pro clearafter">
                            <div class="jx_content">
                                <p class="pro_name">广发理财4号</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">FOF</span>
                                <div class="bod">
                                    <p class="pro_sy">10.94<span>%</span></p>
                                    <p class="lab2">成立以来收益率</p>
                                    <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                                </div>
                            </div>
                            <div class="jx_content">
                                <p class="pro_name">广发金管家弘利债券</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">股票型</span>
                                <p class="pro_sy">9.30<span>%</span></p>
                                <p class="lab2">成立以来收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                            </div>
                        </div>
                        <div class="pro clearafter">
                            <div class="jx_content">
                                <p class="pro_name">广发理财4号</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">FOF</span>
                                <div class="bod">
                                    <p class="pro_sy">10.94<span>%</span></p>
                                    <p class="lab2">成立以来收益率</p>
                                    <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                                </div>
                            </div>
                            <div class="jx_content">
                                <p class="pro_name">广发金管家弘利债券</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">股票型</span>
                                <p class="pro_sy">9.30<span>%</span></p>
                                <p class="lab2">成立以来收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                            </div>
                        </div>
                        <div class="pro clearafter">
                            <div class="jx_content">
                                <p class="pro_name">广发理财4号</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">FOF</span>
                                <div class="bod">
                                    <p class="pro_sy">10.94<span>%</span></p>
                                    <p class="lab2">成立以来收益率</p>
                                    <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                                </div>
                            </div>
                            <div class="jx_content">
                                <p class="pro_name">广发金管家弘利债券</p>
                                <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                                <span class="lab0">股票型</span>
                                <p class="pro_sy">9.30<span>%</span></p>
                                <p class="lab2">成立以来收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="sg">咨询</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!--精选券商资管-end-->
        <!--产品类型-begin-->
        <div class="type_list clearafter red_bod">
            <p class="pro_typ fl">
                <i class="fl">资管类型:</i>
                <span>全部</span>
                <span>混合型</span>
                <span>股票型</span>
                <span>债券型</span>
                <span>FOF</span>
                <span>QDII</span>
                <span>固收理财型</span>
                <span>货币市场型</span>
                <span>管理期货</span>
            </p>
            <div class="fr clearafter pad20">
                <!--<a href="" class="once fr">部分基金</a>-->
                <form action="" id="" class="fr search">
                    <input type="" name="" value="" placeholder="搜索基金代码／名称" onpaste="return false;" onfocus="this.placeholder=''">
                    <span class="sear_form fr"></span>
                </form>
            </div>
        </div>
        <!--产品类型-end-->
    </div>

    <% include ../include/common_footer_slide %>
    <script type="text/javascript" src="js/privatebanking/private.js"></script>

    </body>

</html>