<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="外滩云,汇付天下,理财,在线理财,在线投资,投资理财,理财平台,理财社区,外滩云财富,小额投资,基金投资,保险理财,公募私募,资管产品" />
    <meta name="description" content="外滩云财富于2015年由汇付天下等共同投资成立，引入欧美成熟财富管理理念和金融行业专业团队，为投资者提供“资产配置+风险管理”为导向的财富管理服务，旨在成为中国最先进的线上财富管理平台。" />
    <meta name="baidu-site-verification" content="86PEnyaw5d" />

    <title>外滩云财_保险页面</title>
    <link rel="stylesheet" href="css/common/new_head_footer.css" type="text/css">
    <link rel="stylesheet" href="css/insurance/new_insure.css" type="text/css">
</head>
<script>        
var activeMenu="menu3";
</script>
<body>
    <% include ../include/common_head %>
        <div class="pub-two">
            <!--保险二级列表-->
            <div class="pub-two-cont clearafter">
                <p class="nav-all"><a href="javascript:void(0);">全部</a></p>
                <p class="nav-licai"><a href="javascript:void(0);">理财险</a></p>
                <p class="nav-health"><a href="javascript:void(0);">健康险</a></p>
                <p class="nav-renshou"><a href="javascript:void(0);">人寿险</a></p>
                <p class="nav-yiwai"><a href="javascript:void(0);">意外险</a></p>
                <div class="pub-line"></div>
            </div>
        </div>
        <!--二级列表结束-->
    <!--banner-end-->
    <div class="banner">
        <div class="banner_content">
            <img src="https://act.bundwealth.com/upload/images/bwcus/new_bx_banner.jpg" alt="" class="banner_con">
            <div class="cool_box clearafter">
                <div class="box">
                    <div class="box_discrib fl">
                        <div class="pro_text">
                            <p class="pro_name">平安养老富盈宝宝</p>
                            <p class="lab"><span></span>收益按日结算</p>
                            <p class="lab"><span></span>1000元起投，0元手续费进出</p>
                            <p class="lab"><span></span>资金随存随取，T日申请，T+1日到账</p>
                        </div>
                    </div>
                    <div class="pro_sy fr">
                        <div class="pro_list2">
                            <p class="stars">
                                <img src="https://act.bundwealth.com/upload/images/bwcus/bw_bx_stars.png" alt="" />
                            </p>
                            <p class="lab2">本金、收益稳定（内部评级，仅供参考）</p>
                            <p class="syl">5.20%</p>
                            <p class="yqnh">最高预期年化收益</p>
                            <a href="" class="buy hover">立即购买</a>
                        </div>
                    </div>
                    <div class="box_discrib fl">
                        <div class="pro_text">
                            <p class="pro_name">这是产品2</p>
                            <p class="lab"><span></span>收益按日结算</p>
                            <p class="lab"><span></span>1000元起投，0元手续费进出</p>
                            <p class="lab"><span></span>资金随存随取，T日申请，T+1日到账</p>
                        </div>
                    </div>
                    <div class="pro_sy fr">
                        <div class="pro_list2">
                            <p class="stars">
                                <img src="https://act.bundwealth.com/upload/images/bwcus/bw_bx_stars.png" alt="" />
                            </p>
                            <p class="lab2">本金、收益稳定（内部评级，仅供参考）</p>
                            <p class="syl">5.20%</p>
                            <p class="yqnh">最高预期年化收益</p>
                            <a href="" class="buy hover">立即购买</a>
                        </div>
                    </div>
                    <div class="box_discrib fl">
                        <div class="pro_text">
                            <p class="pro_name">这是产品3</p>
                            <p class="lab"><span></span>收益按日结算</p>
                            <p class="lab"><span></span>1000元起投，0元手续费进出</p>
                            <p class="lab"><span></span>资金随存随取，T日申请，T+1日到账</p>
                        </div>
                    </div>
                    <div class="pro_sy fr">
                        <div class="pro_list2">
                            <p class="stars">
                                <img src="https://act.bundwealth.com/upload/images/bwcus/bw_bx_stars.png" alt="" />
                            </p>
                            <p class="lab2">本金、收益稳定（内部评级，仅供参考）</p>
                            <p class="syl">5.20%</p>
                            <p class="yqnh">最高预期年化收益</p>
                            <a href="" class="buy hover">立即购买</a>
                        </div>
                    </div>
                </div>    
            </div>
            <span class="prev"></span>
            <span class="next"></span>
        </div>
        <a href="" id="a"></a>
    </div>
    <!--banner-end-->
    <!--pro_begin-->
    <div class="wrap">
        <!-- <div class="pro_con">
            <h4 id="licai"><i class="ocean"></i>瑞泰专场<a href="" class="more">查看更多&gt;</a></h4>
            <div class="ruitai clearafter">
                <div class="rui_l fl">
                    <p class="titl">瑞和定期寿险</p>
                    <p class="pro_info">150万最高保额     <a href="">立即抢购</a></p>
                </div>
                <div class="rui_r fr">
                    <p class="titl">少儿成长卫士</p>
                    <p class="pro_info">150万最高保额     <a href="">立即抢购</a></p>
                </div>
            </div>
        </div> -->
        <!-- <div class="pro_con">
            <h4 id="licai"><i class="yellow"></i>理财险<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="../images/bw-cus/bw_new_dq_safe.jpg" alt="">
                </div>
                <div class="pro_content fr clearafter">
                    <div class="pro_tab">
                        <p class="pro_nam">泰康E理财投连险</p>
                        <p class="pro_lab">双账户增值避险全囊括</p>
                        <div class="bod">
                            <p class="syl">80.93%</p>
                            <p class="pro_lab2">2015年涨幅</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                    <div class="pro_tab">
                        <p class="pro_nam">阳光人寿理财二号</p>
                        <p class="pro_lab">资金安全，同卡进出</p>
                        <div>
                            <p class="syl">5.20%</p>
                            <p class="pro_lab2">历史年华结算利率</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="pro_con">
            <h4 id="health"><i class="green"></i>健康险<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="https://act.bundwealth.com/upload/images/bwcus/bw_new_bx_health.jpg" alt="">
                </div>
                <div class="pro_content fr clearafter">
                    <div class="pro_tab padl">
                        <p class="pro_nam">阳光随e重疾</p>
                        <p class="pro_lab3">适用人群：30天-50周岁 保障期间：可达100周岁</p>
                        <div class="bod">
                            <p class="pro_lab3">投保灵活，保障、交费期间自由定制</p>
                            <p class="pro_lab3">高额保障，保额可达<span>75万</span></p>
                            <p class="pro_lab3">价格透明，网销无佣金及附加费用，费率低</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                    <div class="pro_tab padl">
                        <p class="pro_nam">永安和睦医疗保险</p>
                        <p class="pro_lab3">适用人群：0-59周岁 (含0，59周岁) 保障期间：1年</p>
                        <div>
                            <p class="pro_lab3">年度保障总额<span>1000</span>万，门诊住院同时覆盖</p>
                            <p class="pro_lab3">全面体验和睦家国际医疗水准</p>
                            <p class="pro_lab3">指定全科医生，深度持续呵护您身心健康</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_con">
            <h4 id="renshou"><i class="ocean"></i>人寿险<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="https://act.bundwealth.com/upload/images/bwcus/bw_new_bx_renshou.jpg" alt="">
                </div>
                <div class="pro_content fr clearafter">
                    <div class="pro_tab padl">
                        <p class="pro_nam">爱意传承C款终身寿险</p>
                        <p class="pro_lab3">适用人群：0-55周岁 (含0，55周岁) 保障期间：终身</p>
                        <div class="bod">
                            <p class="pro_lab3">交费灵活，分期交费轻松累积财富</p>
                            <p class="pro_lab3">流动性强，保单借款，资金运用灵活方便</p>
                            <p class="pro_lab3">保障灵活，出生就可投保，保障终身</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                    <div class="pro_tab padl">
                        <p class="pro_nam">终身险</p>
                        <p class="pro_lab3">适用人群：0-55周岁 (含0，55周岁) 保障期间：终身</p>
                        <div>
                            <p class="pro_lab3">交费灵活，分期交费轻松累积财富</p>
                            <p class="pro_lab3">流动性强，保单借款，资金运用灵活方便</p>
                            <p class="pro_lab3">保障灵活，出生就可投保，保障终身</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_con">
            <h4 id="yiwai"><i class="puple"></i>意外险<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="https://act.bundwealth.com/upload/images/bwcus/bw_new_bx_yiwai.jpg" alt="">
                </div>
                <div class="pro_content fr clearafter">
                    <div class="pro_tab padl">
                        <p class="pro_nam">“飞常保”航意险</p>
                        <p class="pro_lab3 mb35">适用人群：18-79周岁 (含18，79周岁)<br>保障期间：自领取之日起1年</p>
                        <div class="bod">
                            <div class="insure-ico clearafter">
                                <dl>
                                    <dt class="ico-1"></dt>
                                    <dd>免费赠送</dd>
                                </dl>
                                <dl class="marg">
                                    <dt class="ico-2"></dt>
                                    <dd>100万保额</dd>
                                </dl>
                                <dl>
                                    <dt class="ico-3"></dt>
                                    <dd>全年无忧</dd>
                                </dl>
                            </div>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                    <div class="pro_tab padl">
                        <p class="pro_nam">“铁定保”铁意险</p>
                        <p class="pro_lab3 mb35">适用人群：18-79周岁 (含18，79周岁)<br>保障期间：自领取之日起1年</p>
                        <div>
                            <div class="insure-ico clearafter">
                                <dl>
                                    <dt class="ico-1"></dt>
                                    <dd>免费赠送</dd>
                                </dl>
                                <dl class="marg">
                                    <dt class="ico-4"></dt>
                                    <dd>50万保额</dd>
                                </dl>
                                <dl>
                                    <dt class="ico-3"></dt>
                                    <dd>全年无忧</dd>
                                </dl>
                            </div>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="pro_con">
            <h4><i class="pink"></i>保险早知道<a href="" class="more">查看更多&gt;</a></h4>
            <div class="know clearafter">
                <div class="know_list">
                    <img src="" alt="" class="fl" />
                    <p class="tit">保险的意义只是今天作明天的准备；生时作死时的准备</p>
                    <p class="dat"><span>2016-11-14</span><span>13:21:31</span></p>
                </div>
                <div class="know_list">
                    <img src="" alt="" class="fl" />
                    <p class="tit">保险的意义只是今天作明天的准备；生时作死时的准备</p>
                    <p class="dat"><span>2016-11-14</span><span>13:21:31</span></p>
                </div>
                <div class="know_list">
                    <img src="" alt="" class="fl" />
                    <p class="tit">保险的意义只是今天作明天的准备；生时作死时的准备</p>
                    <p class="dat"><span>2016-11-14</span><span>13:21:31</span></p>
                </div>
            </div>
        </div> -->
        <!-- <div class="pro_con insure-eg clearafter">
            <h4 id="licai"><i class="puple"></i>更多优惠保险<a href="" class="more">查看更多&gt;</a></h4>
            <div class="eg1">
                <div class="fix"></div>
                <h3>健康随e保癌症保障计划</h3>
                <p>适用人群：30天-50周岁 保障期间：可达100周岁</p>
                <p class="money"><span>33</span>元起</p>
            </div>
            <div class="eg2 bode">
                <div class="fix"></div>
                <h3>男性关爱特定疾病保险</h3>
                <p>适用人群：18-60周岁 (含18，60周岁) 保障期间：1年</p>
                <p class="money"><span>99</span>元起</p>
            </div>
            <div class="eg3">
                <div class="fix"></div>
                <h3>俪人守护A款防癌险</h3>
                <p>适用人群：18-55周岁 (含18，55周岁) 保障期间：1年</p>
                <p class="money"><span>5</span>元起</p>
            </div>
        </div> -->
    </div>
    <% include ../include/common_footer_slide %>
    <script>
    $(function(){
        var navTop = $('.banner').offset().top;
        // var licaiTop = $('#licai').offset().top;
        var healthTop = $('#health').offset().top;
        var renshouTop = $('#renshou').offset().top;
        var yiwaiTop = $('#yiwai').offset().top;
        var nav2L = $('.pub-two-cont').offset().left;
        $('.nav-all').click(function(){
            $('html,body').animate({scrollTop:navTop},800);
            var num = $(this).offset().left-nav2L;
            var wid = $(this).width();
            $('.pub-line').css({'left':num,'width':wid});
        });
        // $('.nav-licai').click(function(){
        //     $('html,body').animate({scrollTop:licaiTop},800);
        //     var num = $(this).offset().left-nav2L;
        //     var wid = $(this).width();
        //     $('.pub-line').css({'left':num,'width':wid});
        // });
        $('.nav-health').click(function(){
            $('html,body').animate({scrollTop:healthTop},800);
            var num = $(this).offset().left-nav2L;
            var wid = $(this).width();
            $('.pub-line').css({'left':num,'width':wid});

        });
        $('.nav-renshou').click(function(){
            $('html,body').animate({scrollTop:renshouTop},800);
            var num = $(this).offset().left-nav2L;
            var wid = $(this).width();
            $('.pub-line').css({'left':num,'width':wid});
        });
        $('.nav-yiwai').click(function(){
            $('html,body').animate({scrollTop:yiwaiTop},800);
            var num = $(this).offset().left-nav2L;
            var wid = $(this).width();
            $('.pub-line').css({'left':num,'width':wid});
        });
        //banner处轮播
        var allWidth = $('.box_discrib').size()*660+'px';
        $('.box').css('width',allWidth);
        var num=0;
        var left;
        $('.prev').click(function(){
            num--;
            if(num<0){
                num=0;
                return false;
            }
            left = -num*660;
            $('.box').css('left',left);
        })
        $('.next').click(function(){
            num++;
            if(num>$('.box_discrib').size()-1){
                num--;
                return false;
            }
            left = -num*660;
            $('.box').css('left',left);
        })
    })
    </script>
</body>

</html>
