@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-05-28 14:59:13
 * @version $Id$
 */

* {
    font-family: "Microsoft YaHei", "Tahoma", Helvetica, Arial, sans-serif;
    list-style-type: none;
    font-style: normal;
    /*transition: background-color 0.3s,color 0.3s;
	-moz-transition: background-color 0.3s;	/* Firefox 4 */
    /*-webkit-transition: background-color 0.3s;	 Safari 和 Chrome 
	-o-transition: background-color 0.3s;*/
}

.Tahoma {
    font-family: Tahoma !important;
}

.orange {
    color: #ff9c00 !important;
}

img {
    border: none;
}

input,
button,
select,
textarea {
    outline: none
}

textarea {
    resize: none
}

input[type="file"] {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.family1 {
    font-family: Tahoma !important;
}

.family2 {
    font-family: "宋体" !important;
}

.both {
    float: inherit !important;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bebebe;
    font-size: 16px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bebebe;
    font-size: 16px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bebebe;
    font-size: 16px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff !important;
    font-size: 16px !important;
}

html,
body {
    width: 100%;
    background: #fff;
    min-height: 100%;
}

html {
    height: auto;
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body a {
    outline: none;
    blr: expression(this.onFocus=this.blur());
    cursor: pointer;
    /* color:#3dabf0 */
    ;
}

body #bigLogo,
.go_home {
    cursor: default !important;
}

.bor_bottom {
    border-bottom: 1px solid #f4f4f4;
}

.placeholder {
    color: #bebebe !important;
    font-size: 16px !important;
}


/*返回顶部*/

#scroolTop {
    position: fixed;
    width: 42px;
    bottom: 279px;
    right: 50%;
    border: 1px solid #ecd1b5;
    border-bottom: 0px;
    margin-right: -610px;
    display: none;
}

#scroolTop a {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #ecd1b5;
    background: #fffbea;
}

#scroolTop a:hover {
    background-color: #876037;
}

#scroolTop .a1 {
    background-position: 0 -374px;
}

#scroolTop .a2 {
    background-position: 0 -414px;
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
    line-height: 14px;
    padding-top: 8px;
    text-indent: -999999px;
}

#scroolTop .a2:hover {
    color: #ecd1b5;
    background: #876037 !important;
    text-indent: 0px;
}

#scroolTop .a3 {
    background-position: 0 -454px;
}


/* 新css/newindex */

* {
    box-sizing: border-box;
}

html,
body {
    background: #f3f3f3 !important;
}

.flexslider {
    height: 300px;
}

.clearafter:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.login_con {
    width: 288px;
    background: rgba(0, 0, 0, .7);
    filter: opacity(80);
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 24px;
    padding-bottom: 3px;
}

.login_con h3 {
    font-size: 24px;
    text-align: center;
    color: #fff;
    height: 58px;
    padding-top: 12px;
    padding-bottom: 5px;
    overflow: hidden;
    /* background: url(../../images/bw-cus/index_slogan_w.png) no-repeat 10px 15px;
	background-size: 250px; */
}

.login_con h3 img {
    width: 78%;
    position: relative;
    left: 3px;
}

.list {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-bottom: 19px;
    opacity: 0;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    visibility: hidden;
    overflow: hidden;
}

.list_mid {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.userCenter-hover .list {
    visibility: visible;
    opacity: 1;
}

.login_con p.list_mid:before {
    content: '';
    display: block;
    position: absolute;
    left: 39px;
    width: 45px;
    height: 2px;
    background: rgba(255, 255, 255, .21);
    top: 11px;
}

.login_con p.list_mid:after {
    content: '';
    display: block;
    position: absolute;
    left: 211px;
    width: 45px;
    height: 2px;
    background: rgba(255, 255, 255, .21);
    top: 11px;
}

.login_con p {
    text-align: center;
}

.plat {
    color: #cacaca;
    font-size: 14px;
    margin-bottom: 15px;
}

.log-out {
    font-size: 14px;
    line-height: 40px;
    width: 266px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    margin: 0 auto;
    color: #A08167;
}

.log-out a {
    display: block;
    width: 100%;
    height: 40px;
    color: #A08167;
}

.two-list {
    font-size: 14px;
    color: #A08167;
    width: 266px;
    margin: 0 auto 10px;
}

.two-list span {
    width: 133px;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
}

.two-list span a {
    color: #A08167;
}

.two-list span.bor {
    border-right: 1px solid #f0f0f0;
}

.two-list span i {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    /* background: url(../../images/bw-cus/bwindexsp2.png) no-repeat; */
    background-position: -84px -446px;
    margin: 5px 5px 0 25px;
}

.two-list span.bor i {
    background-position: -84px -419px;
}

.los {
    font-size: 14px;
    line-height: 40px;
    width: 266px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    margin: 20px auto 0;
    color: #A08167;
}

.hello {
    font-size: 12px;
    color: #D9C1AB;
    text-align: left;
}

.tips-info {
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.no-login .list-top {
    padding-bottom: 10px;
}

.list .no-login h3 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.zh {
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    text-align: center;
}

.zh a {
    font-size: 14px;
    color: #fff;
    text-decoration: underline !important;
}

.login_bg {
    display: block;
    width: 210px;
    margin: 20px auto 0;
    height: 84px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: 4px 0;
}

.login_bg2 {
    display: block;
    width: 210px;
    height: 84px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    margin: 11px auto 0;
    background-position: 4px 0;
}

.login_con>a {
    display: block;
    margin: 0 auto;
    width: 214px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 2px 0 0 #42362C;
    background: linear-gradient(-180deg, #bd9f84 0%, #917257 100%);
    background: -moz-linear-gradient(top, #bd9f84, #917257 100%);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bd9f84), to(#917257 100%));
    background: -o-linear-gradient(top, #bd9f84, #917257 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bd9f84', endColorstr='#917257', GradientType=0);
}


/* 底部版权部分 */

.footer {
    height: 395px;
    background: #fff;
}

.footer-cot {
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-top ul {
    width: 196px;
}

.footer-top>ul {
    float: left;
}

.footer-top {
    border-bottom: 1px solid #efefef;
    height: 270px;
}

.footer-top li a p {
    font-size: 20px;
    color: #a68970;
    margin-bottom: 30px;
}

.footer-top li a {
    color: #a68970 !important;
    font-size: 14px;
}

.footer-top li {
    margin-bottom: 18px;
}

.tech {
    width: 300px;
    float: left;
    margin-right: 130px;
}

.tech dl {
    float: left;
    margin-right: 30px
}

dt i {
    display: block;
    width: 80px;
    height: 80px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
}

i.down-img {
    background-position: 0 -143px;
}

.dow-a,
.dow-w,
.dow-s {
    position: relative;
    cursor: pointer;
}

.app-ewm,
.wx-ewm,
.sina-ewm {
    background: #fff;
    position: absolute;
    left: -30px;
    top: -162px;
    width: 144px;
    height: 144px;
    padding: 10px;
    z-index: 3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.app-dow {
    width: 124px;
    height: 124px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -295px -452px;
}

.wx-dow {
    width: 124px;
    height: 124px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -295px -324px;
}

.sina-dow {
    width: 124px;
    height: 124px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -295px -196px;
}

.dow-a:hover i.down-img {
    background-position: -125px -612px;
}

.dow-w:hover i.wx-img {
    background-position: -125px -703px;
}

.dow-s:hover i.sina-img {
    background-position: -125px -797px;
}

i.wx-img {
    background-position: 0 -224px;
}

i.sina-img {
    background-position: 0 -305px;
}

.tech p {
    font-size: 20px;
    color: #a68970;
    margin-bottom: 38px;
}

.tech dl dt {
    margin-bottom: 5px
}

.tech dl.dl-last {
    margin-right: 0;
}

.tech dl dd a {
    text-align: center;
    font-size: 14px;
    color: #979797 !important;
    display: block;
    margin: 0 auto;
}

.locat {
    float: left;
}

.locat-us {
    font-size: 20px;
    color: #a68970;
    margin-bottom: 38px;
}

.phone {
    font-size: 28px;
    color: #a68970;
    margin-bottom: 20px;
}

.gdp {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.work {
    font-size: 14px;
    color: #979797;
    margin-bottom: 15px;
}

.mail {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.copy {
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 15px 0;
}

.info {
    font-size: 26px;
    text-align: center;
    color: #c2c2c2;
}


/* 头部部分 */

.head-top {
    width: 1100px;
    margin: 0 auto;
    height: 30px;
}

.head-l {
    float: left;
}

.head-l a {
    display: block;
    float: left;
    margin-right: 20px;
    color: #afafaf !important;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.tips {
    float: right;
}

.tips li {
    margin-left: 25px;
    float: right;
}

.tips li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.tips li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #afafaf;
    position: relative;
    cursor: default;
}

.tips li div {
    position: absolute;
    left: 0;
    top: 30px;
    width: 108px;
    height: 108px;
    padding: 10px;
    box-shadow: 0 2px 2px #666;
    z-index: 10;
    background: #fff;
    display: none;
    border-radius: 5px;
}

.tips li div.app-pic b {
    display: block;
    height: 88px;
    background: #fff url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: 0 -486px;
    overflow: hidden;
}

.tips li div.wx-pub b {
    display: block;
    height: 88px;
    background: #fff url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: 0 -574px;
    overflow: hidden;
}

.tips li div.head-sina b {
    display: block;
    height: 88px;
    background: #fff url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: 0 -662px;
    overflow: hidden;
}

.login {
    float: right;
}

.login a {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 19px;
    font-size: 12px;
    display: inline-block;
    color: #a3856b;
}

.login span {
    float: left;
    color: #999;
    font-size: 12px;
    line-height: 30px;
    margin-right: 12px;
}

.tips li.kefu i {
    background-position: -80px -105px;
    transition: all 0.2s linear;
}


/* .tips li.kefu:hover i{
	background-position: -80px -85px;
	transition: all 0.2s linear;
} */

.tips li.qq i {
    background-position: -100px -105px;
    transition: all 0.2s linear;
}


/* .tips li.qq:hover i{
	background-position: -100px -85px;
	transition: all 0.2s linear;
} */

.tips li.sina i {
    background-position: -40px -105px;
    transition: all 0.2s linear;
}


/* .tips li.sina:hover i{
	background-position: -40px -85px;
	transition: all 0.2s linear;
} */

.tips li.weixin i {
    background-position: -20px -105px;
    transition: all 0.2s linear;
}


/* .tips li.weixin:hover i{
	background-position: -20px -85px;
	transition: all 0.2s linear;
} */

.tips li.soft i {
    background-position: 0 -105px;
    transition: all 0.2s linear;
}


/* .tips li.soft:hover i{
	background-position: 0 -85px;
	transition: all 0.2s linear;
} */

.head-nav {
    background: #fff;
    height: 52px;
    border-bottom: 1px solid #ededed;
}

.head-con {
    width: 1100px;
    margin: 0 auto;
    height: 52px;
}

.head-con a {
    float: left;
}

.bw-logo {
    position: relative;
    top: 10px;
    margin-right: 145px;
}

.navb {
    float: left;
    position: relative;
    margin-top: 7px;
}

.navb li {
    position: relative;
    float: left;
    margin-right: 40px;
    line-height: 37px;
    height: 44px;
    color: #96663d !important;
    cursor: pointer;
    font-size: 16px;
}

.navb li:hover {
    color: #ff7334 !important;
}

.navb li a {
    padding: 0;
    color: #96663d !important;
}

.navb li a:link {
    color: #96663d !important;
}

.navb li a:visitied {
    color: #96663d !important;
}

.navb li a:hover {
    color: #ff7334 !important;
    background: none;
}

.navb li a:active {
    color: #ff7334 !important;
}

.navb span.line {
    position: absolute;
    display: none;
    width: 36px;
    height: 3px;
    border-radius: 4px;
    background: #ff7334;
    left: -2px;
    bottom: 7px;
    /*transition: all 0.2s linear;*/
}

.my-pro {
    float: right;
    width: 108px;
    height: 30px;
    line-height: 30px;
    margin-top: 11px;
    background: #BC9E83;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    color: #fbeadb;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.my-pro i.arrow {
    position: absolute;
    display: inline-block;
    width: 10px;
    top: 8px;
    right: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    height: 10px;
    transition: all .2s linear;
    border-top: 1px solid #fbeadb;
    border-right: 1px solid #fbeadb;
}

.my-pro i.arrow-down {
    top: 12px;
    transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transition: all .2s linear;
}

ul.my-list {
    width: 108px;
    position: absolute;
    left: 0;
    top: 30px;
}

ul.my-list li a {
    height: 42px;
    width: 100%;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    color: #fff !important;
    background: #aa8c6d;
    display: block;
}

ul.my-list li a:hover {
    background: #8c6740;
}

.tab-list li.cont a:hover {
    background: #FFEDE5;
}

.cz a:hover {
    background: #FFEDE5;
    color: #FF6F00 !important;
}

.end a {
    color: #fff !important;
    background: #a9a9a9;
    border: 1px solid #a9a9a9;
}

.end a:hover {
    cursor: disabled;
    background: #a9a9a9;
    color: #fff !important;
    cursor: not-allowed;
}

.insure-buy:hover {
    background: #8a5e3c;
    color: #fff !important;
}

.top-mon-l a:hover {
    background: #ff7334;
    color: #fff !important;
}

.head-l a:hover {
    color: #666 !important;
}

.fl_back {
    width: 50px;
    height: 49px;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    background: #fff url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: none;
    display: none;
    background-position: 0 -976px;
}

.fl_back:hover {
    background-position: -48px -976px;
}

div.list {
    width: 288px;
    position: absolute;
    right: 0;
    top: 30px;
    background: rgba(0, 0, 0, .7);
    background: filter;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 5;
    background: #000\0;
    border-top-left-radius: 5px;
}

.userCenter-hover .list-top {
    margin-top: 0;
}

.list-top {
    margin-top: -10px;
    -moz-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    -webkit-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
    border-top-left-radius: 4px;
    background: linear-gradient(-180deg, #bd9f84 0%, #917257 100%);
    background: -moz-linear-gradient(top, #bd9f84, #917257 100%);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bd9f84), to(#917257 100%));
    background: -o-linear-gradient(top, #bd9f84, #917257 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bd9f84', endColorstr='#917257', GradientType=0);
}

.user-head {
    display: block;
    float: left;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    margin-left: 20px;
    margin-top: 10px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -2px -420px
}

.user {
    padding-left: 108px;
    padding-top: 20px;
}

.user a.char {
    float: right;
    margin-right: 20px;
    color: #fff !important;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    text-decoration: underline;
    margin-top: 5px;
}

.no-login .user {
    padding-left: 95px;
    padding-top: 12px;
}


/* .user a {
    float: right;
    margin-right: 10px;
    color: #c1a58d !important;
    background: #fff;
    font-size: 12px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100px;
    margin-top: 5px;
} */

p.tzq {
    text-align: left;
    font-size: 12px;
    margin: 0;
}

.user>p {
    height: 30px;
    line-height: 30px;
}

.user-name {
    font-size: 18px;
    float: left;
}

.list-mid {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .35);
    padding: 10px 0;
}

.list-l {
    float: left;
    width: 85px;
    padding-left: 20px;
    color: #a7a7a7;
    font-size: 12px;
}

.list-l li,
.user-zc li {
    height: 33px;
    line-height: 33px;
    text-align: left;
}

.user-zc {
    width: 125px;
    float: left;
    color: #3f3f3f;
    text-align: left;
}

.user-act {
    float: left;
    color: #c1a58d;
    font-size: 12px;
    padding-right: 20px;
}

.user-act li {
    height: 33px;
    text-align: right;
}

.user-act li a {
    color: #c1a58d !important;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    float: right;
}

.uesr-act li.first {
    display: block;
    width: 100%;
    text-align: right;
}

.user-act a.user-qx {
    margin-right: 10px;
}

.insure-type {
    width: 218px;
    z-index: 35;
    position: absolute;
    left: -94px;
    top: 40px;
    border-radius: 4px;
    /* opacity: 0;
	filter: alpha(opacity=0); */
    display: none;
    border-top: 10px solid transparent;
}

.insure-type>div {
    background: #fff;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .35);
}

.insure-type p a {
    font-size: 14px;
    color: #000 !important;
    height: 16px;
    line-height: 16px;
}

p.insure-red {
    color: #ff5a4c;
}

p.insure-red a {
    color: #ff5a4c !important;
    font-size: 14px;
}

span.trang {
    border-bottom: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    left: 50%;
    position: absolute;
    margin-left: -5px;
    top: -5px;
    z-index: 30;
}

.insure-type i {
    display: inline-block;
    width: 3px;
    height: 15px;
    margin-right: 7px;
    float: left;
    background: #000;
}

.insure-type p.insure-red i {
    background: #ff5a4c;
    border-radius: 4px;
}

.insure-type p {
    height: 16px;
    line-height: 16px;
}

.insure-type p.type-discrib {
    font-size: 12px;
    color: #bababa;
    margin-bottom: 17px;
    margin-top: 5px;
    text-indent: 10px;
}

.insure-type p.pro-last {
    margin-right: 0;
    margin-bottom: 0;
}

.insure-type p>span {
    float: right;
    margin-right: 20px;
}

.huoqi p {
    margin-bottom: 20px;
}

.pub-two {
    width: 100%;
    /* height: 30px; */
    line-height: 30px;
    background: #fff;
    overflow: hidden;
}

.pub-two-cont {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.pub-two-cont p {
    float: left;
    margin-right: 30px;
}

.pub-two-cont p a {
    color: #a3856b !important;
    font-size: 12px;
}

.pub-two-cont p a:hover {
    color: #8a5e3c !important;
}

.pub-line {
    position: absolute;
    width: 24px;
    height: 2px;
    border-radius: 4px;
    background: #a68970;
    left: 0;
    bottom: 3px;
}

.my-pro:hover {
    /*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;*/
}

.no-login {
    width: 288px;
    /* display: none; */
}

.no-login h3 {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 12px;
}

.no-login a {
    float: none;
    display: block;
    margin: 0 auto;
    width: 214px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    /*box-shadow: 0 2px 0 0 #42362C;*/
    background: linear-gradient(-180deg, #bd9f84 0%, #917257 100%);
    background: -moz-linear-gradient(top, #bd9f84, #917257 100%);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bd9f84), to(#917257 100%));
    background: -o-linear-gradient(top, #bd9f84, #917257 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bd9f84', endColorstr='#917257', GradientType=0);
}


/* .al-login{
	display: block;
} */

i.eye {
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -35px -397px;
    display: inline-block;
    width: 20px;
    height: 10px;
    float: right;
    margin-top: 11px;
    margin-right: 5px;
}

i.xs {
    background-position: -60px -397px;
}

.banner-con {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


/* old-head_footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal !important;
}

img {
    border: 0;
}

li {
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*浮动图标*/

.sidebar.fl {
    width: 50px;
    height: 250px;
    border-top: 1px solid #e3e3e3;
    position: fixed;
    left: 50%;
    bottom: 15px !important;
    margin-left: 580px;
    margin-top: 0px;
    z-index: 20;
}

.fl_qq,
.fl_wx,
.fl_er,
.fl_fb,
.fl_back {
    width: 50px;
    height: 49px;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    background: #fff url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: none;
}

.fl_qq {
    background-position: 0 -757px;
}

.fl_qq:hover {
    background-position: -48px -757px;
    border: 1px solid #f18229;
    border-top: none;
}

.fl_wx {
    background-position: 0 -855px;
    position: relative;
    z-index: 20;
}

.fl_wx:hover {
    background-position: -48px -829px;
    border: 1px solid #f18229;
    border-left: 1px solid #fff;
}

.fl_er {
    background-position: 0 -855px;
    position: relative;
    z-index: 20;
}

.fl_er:hover {
    background-position: -48px -855px;
    border: 1px solid #f18229;
    border-left: 1px solid #fff;
}

.fl_fb {
    background-position: 0 -905px;
}

.fl_fb:hover {
    background-position: -48px -905px;
    border: 1px solid #f18229;
    border-top: none;
}

.fl_back {
    background-position: 0 -955px;
    display: none;
}

.fl_back:hover {
    background-position: -48px -952px;
}

.fl_hover_wrap {
    width: 0px;
    height: 197px;
    position: absolute;
    left: -162px;
    top: 0;
    z-index: 20;
    overflow: hidden;
    top: 0px;
}

.fl_hover_wrap.er {
    z-index: 9;
}

.fl_hover {
    width: 163px;
    height: 197px;
    position: absolute;
    border: 1px solid #f18229;
    background: #fff;
    font-size: 16px;
    color: #333;
    text-align: center;
    z-index: 20;
    left: 163px;
}

.er .fl_hover_wxico {
    display: block;
    width: 139px;
    height: 136px;
    margin: 14px 12px;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    background-position: -290px -720px;
}

.cooperation_ul a {
    border: 1px solid #fff;
}

.cooperation_ul .abox_hover a {
    border: none;
}

.atxt_hover:link,
.atxt_hover:visited {
    color: #333;
}

.atxt_hover:hover {
    color: #f18229 !important;
}

.abox_hover {
    border: 1px solid #fff !important;
}

.abox_hover:hover {
    border: 1px solid #f18229 !important;
}


/* .nav li.activ>div.insure-type{
	height: auto;
	opacity: 100;
	filter: alpha(opacity=100);
	transition: all .2s linear;
	padding-left: 20px;
	padding-top: 15px;
	border-top: 10px solid transparent;
	overflow: auto;
	top: 55px;
}
.nav li div.insure-type{
	border-top: 0 solid transparent;
	height: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .2s linear;
	overflow: hidden;
	padding:0;
} */

.nav span.line>i.trans {
    width: 10px;
    display: inline-block;
    border-top: 5px solid #ff7334;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
}

.no-login h3 {
    padding: 30px 0 0;
}

.list h3 {
    /* background: linear-gradient(135deg, #bd9f84 0%,#917257 100%);
	background:-moz-linear-gradient(top, #bd9f84, #917257 100%);  
	    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#bd9f84), to(#917257 100%));  
	    background:-o-linear-gradient(top, #bd9f84, #917257 100%); 
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9f84', endColorstr='#917257',GradientType=0 );  */
    border-top-left-radius: 5px;
    background: #fff;
}

h3 a.abtn {
    display: inline-block;
    width: 100px;
    background: #fff;
    height: 40px;
    border-radius: 999px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #A38469;
    /* background: linear-gradient(-180deg, #bd9f84 0%,#917257 100%);
	background:-moz-linear-gradient(top, #bd9f84, #917257 100%);  
	    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#bd9f84), to(#917257 100%));  
	    background:-o-linear-gradient(top, #bd9f84, #917257 100%); 
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9f84', endColorstr='#917257',GradientType=0 );  */
    color: #BC9E83;
}

h3 a.abtn:hover {
    color: #fff;
    background: #BC9E83;
}

h3 a.btn1 {
    margin-right: 15px;
    background: #fff;
    color: #BC9E83;
}

.no-login .list:before {
    content: '';
    display: block;
    position: absolute;
    left: 39px;
    width: 45px;
    height: 2px;
    background: rgba(255, 255, 255, .21);
    top: 15px;
}

.no-login .list {
    margin-bottom: 0;
}

.no-login .plat {
    margin-top: -5px;
}

.no-login .list:after {
    content: '';
    display: block;
    position: absolute;
    left: 211px;
    width: 45px;
    height: 2px;
    background: rgba(255, 255, 255, .21);
    top: 15px;
}

h3 button.btn1 {
    margin-right: 30px;
    background: #fff;
    color: #BC9E83;
}


/*banner*/

#scrollBanner {
    height: 352px;
    overflow: hidden;
    position: relative;
    top: -1px;
}

.banner_img1,
.banner_img2,
.banner_img3,
.banner_img4,
.banner_img5,
.banner_img6 {
    width: 100%;
    min-width: 1100px;
    height: 352px;
    display: block;
}

.flexslider {
    position: relative;
    width: 100%;
    zoom: 1;
}

.flexslider .slides li {
    width: 100%;
    height: 100%;
}

.flex-direction-nav a {
    width: 49px;
    height: 49px;
    line-height: 99em;
    overflow: hidden;
    margin: -35px 0 0;
    display: block;
    background: url(https://act.bundwealth.com/upload/images/bwcus/bwindexsp2.png) no-repeat;
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}

.flex-direction-nav .flex-next {
    background-position: -140px -497px;
    right: 50px;
}

.flex-direction-nav .flex-prev {
    background-position: -140px -546px;
    left: 50px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 8px;
}

.flex-control-paging li a {
    display: block;
    height: 12px;
    overflow: hidden;
    text-indent: -99em;
    width: 12px;
    cursor: pointer;
    background-color: #dbdbdb;
    border-radius: 50%;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-color: #f18229;
}

.flexslider .slides a img {
    width: 100%;
    display: block;
}

.bnrlogin_wrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#scrollBannerUl {
    position: relative;
}

#pre-loading {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 174px;
}

.bw-gonggao .notice-span {
    font-size: 16px;
    color: #686868;
    list-style: decimal;
    list-style-position: inside;
    width: 240px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
}

.noradius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.notice-div {
    width: 100%;
    height: 35px;
    overflow: hidden;
    position: relative;
    top: -7px;
}

.notice-in-div,
.notice-in-div-2 {
    position: absolute;
}

.copy-info {
    font-size: 26px;
    text-align: center;
    color: #c2c2c2;
}


/*loading*/

.ball-beat>div:nth-child(2n -1) {
    -webkit-animation-delay: .35s !important;
    -moz-animation-delay: .35s !important;
    animation-delay: .35s !important;
}

.ball-beat>div {
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
    -webkit-animation: ball-beat .7s 0s infinite linear;
    -moz-animation: ball-beat .7s 0s infinite linear;
    animation: ball-beat .7s 0s infinite linear;
}

.ball-beat>div,
.ball-scale-multiple>div {
    background-color: #ff514c;
    border-radius: 100%;
}

.ball-beat>div:nth-child(2n -1) {
    -webkit-animation-delay: .35s !important;
    -moz-animation-delay: .35s !important;
    animation-delay: .35s !important;
}

@-webkit-keyframes ball-beat {
    50% {
        opacity: .2;
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes ball-beat {
    50% {
        opacity: .2;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ball-beat {
    50% {
        opacity: .2;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.75)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1)
    }
}


/*loading end*/

.threeimg {
    width: 358px;
    height: 178px;
}

.insure-eg>div {
    padding: 0;
}

.pro-l {
    position: relative;
}

.navb li a:hover {
    color: #ff7334 !important;
}

.perloading {
    width: 288px;
    height: 290px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.al-login {
    position: relative;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: loader-circles 1s linear infinite;
    top: 50%;
    margin: -8px auto 0 auto;
    transform: scale(0.4);
    -ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
}

@keyframes loader-circles {
    0% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.05), 19px -19px 0 0 rgba(194, 161, 132, 0.1), 27px 0 0 0 rgba(194, 161, 132, 0.2), 19px 19px 0 0 rgba(194, 161, 132, 0.3), 0 27px 0 0 rgba(194, 161, 132, 0.4), -19px 19px 0 0 rgba(194, 161, 132, 0.6), -27px 0 0 0 rgba(194, 161, 132, 0.8), -19px -19px 0 0 rgba(194, 161, 132, 1);
    }
    12.5% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 1), 19px -19px 0 0 rgba(194, 161, 132, 0.05), 27px 0 0 0 rgba(194, 161, 132, 0.1), 19px 19px 0 0 rgba(194, 161, 132, 0.2), 0 27px 0 0 rgba(194, 161, 132, 0.3), -19px 19px 0 0 rgba(194, 161, 132, 0.4), -27px 0 0 0 rgba(194, 161, 132, 0.6), -19px -19px 0 0 rgba(194, 161, 132, 0.8);
    }
    25% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.8), 19px -19px 0 0 rgba(194, 161, 132, 1), 27px 0 0 0 rgba(194, 161, 132, 0.05), 19px 19px 0 0 rgba(194, 161, 132, 0.1), 0 27px 0 0 rgba(194, 161, 132, 0.2), -19px 19px 0 0 rgba(194, 161, 132, 0.3), -27px 0 0 0 rgba(194, 161, 132, 0.4), -19px -19px 0 0 rgba(194, 161, 132, 0.6);
    }
    37.5% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.6), 19px -19px 0 0 rgba(194, 161, 132, 0.8), 27px 0 0 0 rgba(194, 161, 132, 1), 19px 19px 0 0 rgba(194, 161, 132, 0.05), 0 27px 0 0 rgba(194, 161, 132, 0.1), -19px 19px 0 0 rgba(194, 161, 132, 0.2), -27px 0 0 0 rgba(194, 161, 132, 0.3), -19px -19px 0 0 rgba(194, 161, 132, 0.4);
    }
    50% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.4), 19px -19px 0 0 rgba(194, 161, 132, 0.6), 27px 0 0 0 rgba(194, 161, 132, 0.8), 19px 19px 0 0 rgba(194, 161, 132, 1), 0 27px 0 0 rgba(194, 161, 132, 0.05), -19px 19px 0 0 rgba(194, 161, 132, 0.1), -27px 0 0 0 rgba(194, 161, 132, 0.2), -19px -19px 0 0 rgba(194, 161, 132, 0.3);
    }
    62.5% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.3), 19px -19px 0 0 rgba(194, 161, 132, 0.4), 27px 0 0 0 rgba(194, 161, 132, 0.6), 19px 19px 0 0 rgba(194, 161, 132, 0.8), 0 27px 0 0 rgba(194, 161, 132, 1), -19px 19px 0 0 rgba(194, 161, 132, 0.05), -27px 0 0 0 rgba(194, 161, 132, 0.1), -19px -19px 0 0 rgba(194, 161, 132, 0.2);
    }
    75% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.2), 19px -19px 0 0 rgba(194, 161, 132, 0.3), 27px 0 0 0 rgba(194, 161, 132, 0.4), 19px 19px 0 0 rgba(194, 161, 132, 0.6), 0 27px 0 0 rgba(194, 161, 132, 0.8), -19px 19px 0 0 rgba(194, 161, 132, 1), -27px 0 0 0 rgba(194, 161, 132, 0.05), -19px -19px 0 0 rgba(194, 161, 132, 0.1);
    }
    87.5% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.1), 19px -19px 0 0 rgba(194, 161, 132, 0.2), 27px 0 0 0 rgba(194, 161, 132, 0.3), 19px 19px 0 0 rgba(194, 161, 132, 0.4), 0 27px 0 0 rgba(194, 161, 132, 0.6), -19px 19px 0 0 rgba(194, 161, 132, 0.8), -27px 0 0 0 rgba(194, 161, 132, 1), -19px -19px 0 0 rgba(194, 161, 132, 0.05);
    }
    100% {
        box-shadow: 0 -27px 0 0 rgba(194, 161, 132, 0.05), 19px -19px 0 0 rgba(194, 161, 132, 0.1), 27px 0 0 0 rgba(194, 161, 132, 0.2), 19px 19px 0 0 rgba(194, 161, 132, 0.3), 0 27px 0 0 rgba(194, 161, 132, 0.4), -19px 19px 0 0 rgba(194, 161, 132, 0.6), -27px 0 0 0 rgba(194, 161, 132, 0.8), -19px -19px 0 0 rgba(194, 161, 132, 1);
    }
}