<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="外滩云,汇付天下,理财,在线理财,在线投资,投资理财,理财平台,理财社区,外滩云财富,小额投资,基金投资,保险理财,公募私募,资管产品" />
    <meta name="description" content="外滩云财富于2015年由汇付天下等共同投资成立，引入欧美成熟财富管理理念和金融行业专业团队，为投资者提供“资产配置+风险管理”为导向的财富管理服务，旨在成为中国最先进的线上财富管理平台。" />
    <meta name="baidu-site-verification" content="86PEnyaw5d" />

    <title>外滩云财_公募基金页面</title>
    <link rel="stylesheet" href="css/common/new_head_footer.css" type="text/css">
    <link rel="stylesheet" href="css/mutualfund/newpublic.css" type="text/css">
    
</head>
<script>        
var activeMenu="menu4";
</script>
<body>
    <!--头部-->
    <% include ../include/common_head %>

    <!--公募二级列表-->
    <div class="pub-two">
        <div class="pub-two-cont clearafter">
            <p class="nav-all"><a href="javascript:void(0);">全部</a></p>
            <p class="nav-jingxuan"><a href="javascript:void(0);">精选基金</a></p>
            <p class="nav-touzi"><a href="javascript:void(0);">投资组合</a></p>
            <p class="nav-wisdom"><a href="javascript:void(0);">智慧投资</a></p>
            <p><a href="">优选策略</a></p>
            <p><a href="">基金超市</a></p>
            <div class="pub-line"></div>
        </div>
    </div>
    <!--二级列表结束-->
    <!--banner-beign-->
    <div class="banner">
        <div class="banner_content">
            <img src="" alt="" class="banner_con">
            <div class="pro_tab wow fadeInRight">
                <span class="lab">主推基金</span>
                <p class="pro_name">南方策略优化</p>
                <p class="pro_lab2">可配置标语不要超过10个字</p>
                <p class="nhsy">19.72<span>%</span></p>
                <p class="pro_lab3">近一年收益率</p>
                <a href="" class="buy">智慧投资</a><a href="" class="buy mr0">立即购买</a>
                <a href="" class="more">查看更多</a>
            </div>
        </div>
    </div>
    <!--banner-end-->
    <div class="wrap">
        <!--产品类型-begin-->
        <div class="type_list clearafter">
            <p class="pro_typ fl">
                类型:
                <span>股票型</span>
                <span>债券型</span>
                <span>货币型</span>
                <span>混合型</span>
                <span>QDII</span>
                <span>指数型</span>
                <span>新基金</span>
                <span>其他</span>
            </p>
            <div class="fr clearafter pad20">
                <a href="" class="once fr">部分基金</a>
                <form action="" id="" class="fr search">
                    <input type="" name="" value="" placeholder="搜索基金代码／名称" onfocus="this.placeholder=''">
                    <span class="sear_form fr"></span>
                </form>
            </div>
        </div>
        <!--产品类型-end-->
        <div class="pro_con">
            <h4 id="wisdom"><i class="blue"></i>智慧投资<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="../images/bw-cus/bw_new_pub_wisdom.jpg" alt="">
                </div>
                <div class="pro_content fr clearafter">
                    <div class="pro_info fl">
                        <p class="pro_nam">智慧投资<span>－升级版基金定投</span></p>
                        <p class="pro_lab"><i class="ico1"></i>设定扣款周期、扣款金额、获利点</p>
                        <p class="pro_lab"><i class="ico2"></i>持续按时扣款</p>
                        <p class="pro_lab"><i class="ico3"></i>达到获利点自动赎回，落袋为安</p>
                        <a href="" class="vid">视频快速了解</a><span class="vide"></span>
                    </div>
                    <div class="pro_info fr">
                        <img src="../images/bw-cus/bw_new_pub_line.jpg" alt="" height="187" width="380">
                        <p class="ms">将上证综指模拟成一只基金，07年10月16日高点时，分别通过智慧投资和单笔申购开始投资这只基金， 智慧投资的扣款频率为按周，获利点为15%</p>
                    </div>
                </div>
            </div>
        </div>
        <!--精选基金-begin-->
        <div class="pro_con">
            <h4 id="jingxuan"><i class="blue2"></i>精选基金<a href="" class="more">查看更多&gt;</a></h4>
            <div class="pro_list clearafter">
                <div class="pro_img">
                    <img src="../images/bw-cus/bw_new_pub_jingxuan.jpg" alt="">
                </div>
                <div class="small_main fr">
                    <ul class="small_tab clearafter">
                        <li>货币型</li>
                        <li>债券型</li>
                        <li class="act">股票型／混合型</li>
                    </ul>
                    <div class="pro clearafter">
                        <div class="jx_content">
                            <p class="pro_name">长信量化先锋</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <div class="bod">
                                <p class="pro_sy">7.20<span>%</span></p>
                                <p class="lab2">近一年收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                            </div>

                        </div>
                        <div class="jx_content">
                            <p class="pro_name">摩根士丹利华鑫品质生活精选</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <p class="pro_sy">7.20<span>%</span></p>
                            <p class="lab2">近一年收益率</p>
                            <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                        </div>
                    </div>
                    <div class="pro clearafter hidden">
                        <div class="jx_content">
                            <p class="pro_name">云财富－睿投T28</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <div class="bod">
                                <p class="pro_sy">7.20<span>%</span></p>
                                <p class="lab2">近一年收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                            </div>
                        </div>
                        <div class="jx_content">
                            <p class="pro_name">云财富－睿投T28</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <p class="pro_sy">7.20<span>%</span></p>
                            <p class="lab2">近一年收益率</p>
                            <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                        </div>
                    </div>
                    <div class="pro clearafter hidden">
                        <div class="jx_content">
                            <p class="pro_name">云财富－睿投T28</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <div class="bod">
                                <p class="pro_sy">7.20<span>%</span></p>
                                <p class="lab2">近一年收益率</p>
                                <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                            </div>
                        </div>
                        <div class="jx_content">
                            <p class="pro_name">云财富－睿投T28</p>
                            <p class="lab1">高回报低回撤，适合趋势投资者（可配置）</p>
                            <p class="pro_sy">7.20<span>%</span></p>
                            <p class="lab2">近一年收益率</p>
                            <a href="" class="sg">申购</a><a href="" class="wisd">智慧投资</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--精选基金-end-->
        <!--投资组合-begin-->
        <div class="pro_con">
            <h4 id="touzi"><i class="puple"></i>投资组合</h4>
            <ul class="tz_tab clearafter">
                <li class="slect">保守型</li>
                <li>稳健型</li>
                <li>进取型</li>
            </ul>
            <div class="zh_typ clearafter">
                <div class="zh_1">
                    <img src="../images/bw-cus/bw_new_pub_chart1.png" alt="" class="fl fpg">
                    <p class="tit">组合比例</p>
                    <p class="fp"><i></i><span>股票型／混合型</span></p>
                    <p class="fp2"><i></i><span>债券</span></p>
                </div>
                <div class="zh_2">
                    <p class="tit">组合系数</p>
                    <p class="syxs">收益系数<i></i><i></i><i></i><i class="opa"></i><i class="opa"></i></p>
                    <p class="safe">安全系数<i></i><i></i><i></i><i></i><i></i></p>
                </div>
                <div class="zh_3">
                    <p class="tit">组合优势</p>
                    <p class="ys">约80%债券型基金，约20%股票型/混合型基金，<br>以保本为首要目标，建议长期持有。</p>
                </div>
            </div>
            <div class="zh_typ clearafter hidden">
                <div class="zh_1">
                    <img src="../images/bw-cus/bw_new_pub_chart2.png" alt="" class="fl fpg">
                    <p class="tit">组合比例</p>
                    <p class="fp"><i></i><span>股票型／混合型</span></p>
                    <p class="fp2"><i></i><span>债券</span></p>
                </div>
                <div class="zh_2">
                    <p class="tit">组合系数</p>
                    <p class="syxs">收益系数<i></i><i></i><i></i><i class="opa"></i><i class="opa"></i></p>
                    <p class="safe">安全系数<i></i><i></i><i></i><i></i><i></i></p>
                </div>
                <div class="zh_3">
                    <p class="tit">组合优势</p>
                    <p class="ys">约80%债券型基金，约20%股票型/混合型基金，<br>以保本为首要目标，建议长期持有。</p>
                </div>
            </div>
            <div class="zh_typ clearafter hidden">
                <div class="zh_1">
                    <img src="../images/bw-cus/bw_new_pub_chart3.png" alt="" class="fl fpg">
                    <p class="tit">组合比例</p>
                    <p class="fp"><i></i><span>股票型／混合型</span></p>
                    <p class="fp2"><i></i><span>债券</span></p>
                </div>
                <div class="zh_2">
                    <p class="tit">组合系数</p>
                    <p class="syxs">收益系数<i></i><i></i><i></i><i class="opa"></i><i class="opa"></i></p>
                    <p class="safe">安全系数<i></i><i></i><i></i><i></i><i></i></p>
                </div>
                <div class="zh_3">
                    <p class="tit">组合优势</p>
                    <p class="ys">约80%债券型基金，约20%股票型/混合型基金，<br>以保本为首要目标，建议长期持有。</p>
                </div>
            </div>
            <!--投资组合表-begin-->
            <div class="tz_table">
                <ul class="tz_head clearafter">
                    <li class="jijin_type">基金类型</li>
                    <li class="jijin_name">基金名称</li>
                    <li class="thr">近3个月收益率</li>
                    <li class="year">近1个年收益率</li>
                    <li class="safe2">近1年收益标准差（风险）</li>
                    <li class="dom">操作</li>
                </ul>
                <ul class="tz_list clearafter">
                    <li class="jijin_type">混合</li>
                    <li class="jijin_name">浦银安盛盛世精选混合A</li>
                    <li class="thr up">1.32%</li>
                    <li class="year up">8.79%</li>
                    <li class="safe2">3.50%</li>
                    <li class="dom"><a href="">申购</a><a href="">智慧投资</a></li>
                </ul>
                <ul class="tz_list clearafter">
                    <li class="jijin_type">债券</li>
                    <li class="jijin_name">长信纯债壹号</li>
                    <li class="thr up">1.32%</li>
                    <li class="year down">-8.79%</li>
                    <li class="safe2">3.50%</li>
                    <li class="dom"><a href="">申购</a><a href="">智慧投资</a></li>
                </ul>
                <ul class="tz_list clearafter">
                    <li class="jijin_type">债券</li>
                    <li class="jijin_name">建信稳定增利债券A</li>
                    <li class="thr up">1.32%</li>
                    <li class="year up">8.79%</li>
                    <li class="safe2">3.50%</li>
                    <li class="dom"><a href="">申购</a><a href="">智慧投资</a></li>
                </ul>
                <ul class="tz_list clearafter">
                    <li class="jijin_type">债券</li>
                    <li class="jijin_name">易方达信用债债券A</li>
                    <li class="thr up">1.32%</li>
                    <li class="year up">8.79%</li>
                    <li class="safe2">3.50%</li>
                    <li class="dom"><a href="">申购</a><a href="">智慧投资</a></li>
                </ul>
                <ul class="tz_list clearafter">
                    <li class="jijin_type">混合</li>
                    <li class="jijin_name">国投瑞银策略精选</li>
                    <li class="thr up">1.32%</li>
                    <li class="year up">8.79%</li>
                    <li class="safe2">3.50%</li>
                    <li class="dom"><a href="">申购</a><a href="">智慧投资</a></li>
                </ul>
            </div>
            <!--投资组合表-end-->
        </div>
        <!--投资组合-end-->
    </div>

    <% include ../include/common_footer_slide %>
    <script type="text/javascript" src="js/mutualfund/mutual.js"></script>
</body>

</html>