<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="外滩云,汇付天下,理财,在线理财,在线投资,投资理财,理财平台,理财社区,外滩云财富,小额投资,基金投资,保险理财,公募私募,资管产品" />
    <meta name="description" content="外滩云财富于2015年由汇付天下等共同投资成立，引入欧美成熟财富管理理念和金融行业专业团队，为投资者提供“资产配置+风险管理”为导向的财富管理服务，旨在成为中国最先进的线上财富管理平台。" />
    <meta name="baidu-site-verification" content="86PEnyaw5d" />

    <title>外滩云财_转让专区</title>
    
    <link rel="stylesheet" href="css/common/new_head_footer.css" type="text/css">
    <link rel="stylesheet" href="css/transferzone/transfer.css" type="text/css">
</head>
<script>        
var activeMenu="menu6";
</script>
<body>
    
    <!--头部-->
    <% include ../include/common_head %>

    <div class="wrap">
        <div class="pro_typ">
            <p class="type_list">产品类型：<span class="red">全部</span><span>小额理财</span><span>固定收益</span></p>
            <p class="tzqx_list boder">投资期限：<span class="red">全部</span><span>7天以下</span><span>7-14天</span><span>14-30天</span><span>30-60天</span><span>60-90天</span><span>90-180天</span><input type="" name="" value="" class="ml20">-<input type="" name="" value="">天<i>确认</i></p>
            <p class="tzsy_list">投资收益：<span class="red">全部</span><span>5% 以下</span><span>5% -6% 以下</span><span>6% -7% 以下</span><span>7% -8% 以下</span><span>8% 以上</span><input type="" name="" value="">-<input type="" name="" value="">%</p>
        </div>
        <div class="procontent">
            <ul class="prolist_tab clearafter">
                <li class="list_name">名称</li>
                <li class="list_type">产品类型</li>
                <li class="list_sy">剩余可投（元）</li>
                <li class="list_once">单笔金额（元）</li>
                <li class="list_date">投资期限（天）</li>
                <li class="list_sly">收益率</li>
                <li class="list_dom">操作</li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
            <ul class="prolist">
                <li class="list_name">云财富－睿投系列T10</li>
                <li class="list_type">小额理财</li>
                <li class="list_sy">3,43.85</li>
                <li class="list_once">1,43.85</li>
                <li class="list_date">125</li>
                <li class="list_sly">6.10%</li>
                <li class="list_dom"><a href="">申购</a></li>
            </ul>
        </div>
        <!--产品列表-end-->
        <!--分页tab-begin-->
        <div class="clearafter page-cot">
            <span class="black">尾页</span>
            <span class="black">下一页</span>
            <span class="black">2</span>
            <span class="acts">1</span>
            <span class="visited">上一页</span>
            <span class="visited">首页</span>
        </div>
    </div>
    
    <% include ../include/common_footer_slide %>
    <script type="text/javascript" src="js/transferzone/transfer.js"></script>
    
</body>

</html>