<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="外滩云,汇付天下,理财,在线理财,在线投资,投资理财,理财平台,理财社区,外滩云财富,小额投资,基金投资,保险理财,公募私募,资管产品" />
    <meta name="description" content="外滩云财富于2015年由汇付天下等共同投资成立，引入欧美成熟财富管理理念和金融行业专业团队，为投资者提供“资产配置+风险管理”为导向的财富管理服务，旨在成为中国最先进的线上财富管理平台。" />
    <meta name="baidu-site-verification" content="86PEnyaw5d" />

    <title>外滩云财_新人专享页面</title>
    <link rel="stylesheet" href="css/common/new_head_footer.css" type="text/css">
    <link rel="stylesheet" href="css/newbiezone/newbie.css" type="text/css">
</head>
<script>        
var activeMenu="menu7";
</script>
<body>
    <!--头部-->
    <% include ../include/common_head %>

    <!--新手专区二级列表-->
    <div class="pub-two">
        <div class="pub-two-cont clearafter">
            <p><a href="">全部</a></p>
            <p><a href="">话题宝</a></p>
            <p><a href="">小额理财</a></p>
            <div class="pub-line"></div>
        </div>
    </div>
    <!--二级列表结束-->
    <!--banner-beign-->
    <div class="banner">
        <div class="banner_content">
            <img src="" alt="" class="banner_con">
            <div class="pro_tab wow fadeInRight">
                <span class="lab">今日主推</span>
                <p class="pro_name">话题宝猜上证</p>
                <p class="pro_lab2">可配置标语不要超过10个字</p>
                <p class="nhsy">5<span>%~</span>30<span>%</span></p>
                <p class="pro_lab3">预期年化收益率</p>
                <a href="" class="buy">立即购买</a>
            </div>
        </div>
    </div>
    <!--banner-end-->
    <div class="wrap">
        <!--htb-begin-->
        <div class="pro_con">
            <h4 id="htb"><i class="red"></i>话题宝</h4>
            <div class="pro_list clearafter">
                <div class="htb_ico fl">
                    <img src="../images/bw-cus/bw_new_hqhtb.jpg" alt="">
                </div>
                <div class="htb_main fr">
                    <div class="htb_pro clearafter">
                        <div class="pro_l fl">
                            <p class="htb_proname">话题宝124期－猜上证<span>限猜单边</span></p>
                            <p class="tz_date">2016年12月01日 - 2016年12月01日</p>
                            <div class="pro_l_content">
                                <ul class="pro_info1 clearafter">
                                    <li class="first">1天</li>
                                    <li class="mid">100元</li>
                                    <li>1,000万元</li>
                                </ul>
                                <ul class="pro_info2 clearafter">
                                    <li class="first">投资期限</li>
                                    <li class="mid">起投金额</li>
                                    <li>募集金额</li>
                                </ul>
                                <div class="line_gry">
                                    <div class="line_already"></div>
                                </div>
                                <p class="end_date">距离结束还剩<span>0</span>天<span>9</span>小时<span>21</span>分<span>34</span>秒<span class="alre">42%</span></p>
                            </div>
                        </div>
                        <div class="pro_r fr">
                            <span class="ticket">新客专享</span>
                            <p class="szsy"><span>5</span>%~<span>30</span>%</p>
                            <p class="yq">预期年化收益率</p>
                            <a href="" class="buy">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--htb-end-->
        <!--small-licai-begin-->
        <div class="wrap">
            <div class="pro_con">
                <h4 id="small"><i class="red"></i>小额理财<a href="" class="more">查看更多&gt;</a></h4>
                <div class="pro_list clearafter">
                    <div class="pro_img">
                        <img src="../images/bw-cus/bw_new_dq_small.jpg" alt="">
                    </div>
                    <div class="small_main fr">
                        <div class="pro clearafter">
                            <div class="pro_content">
                                <p class="pro_name">云财富－睿投T28</p>
                                <div class="bod">
                                    <p class="pro_sy"><span>7.20</span>%</p>
                                    <p class="clearafter"><span class="labl fl">7天期</span><span class="labr fr">预期年化收益</span></p>
                                    <a href="" class="buy">立即购买</a>
                                </div>
                            </div>
                            <div class="pro_content2">
                                <p class="pro_name">云财富－睿投T28</p>
                                <p class="pro_sy"><span>7.20</span>%</p>
                                <p class="clearafter"><span class="labl fl">30天期</span><span class="labr fr">预期年化收益</span></p>
                                <a href="" class="buy">立即购买</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--small-end-->
        </div>
    </div>
    <% include ../include/common_footer_slide %>
    <script type="text/javascript" src="js/newbiezone/newbie.js"></script>
    
</body>

</html>